@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@0,600;0,700;1,600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}

/* Shared Style */
.gradient-color{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
.btn1{
    background-color: #FF42A5;
}
.btn2{
    background-color: #4EC5F7;
}
.shared-style{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.description{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

.max-width{
    max-width: 1440px;
}

/* Nav Section Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 0 240px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
/* Logo Section */
.logo{
    display: flex;
    gap: 20px;
}
.logo img{
    width: 100%;
    object-fit: contain;
}
.logo-text{
    color: #0B0223;
    font-size: 2.7rem;
    font-weight: 700;
}
.text-g{
    color: #FF42A5;
}
.menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li :hover{
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.button{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 18px 24px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

main{
    padding: 0 240px;
}

/* Play Section Design */
.play-container, .gamer-container, .play-now-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  70px;
}
/* .play-content{} */
.play-text{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.play-content h2{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.play-feature{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: 0;

}
.btn{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px 40px;
    border-radius: 100px;
    border: 0;
    margin-top: 40px;
    margin-right: 10px;

}

/* .play-img{
} */


/* Gamer Section Design */

.gamer-container{
    flex-direction: row-reverse;
}
.gamer-content{
    text-align: right;
}

.gamer-btn{
    margin-top: 32px;
    margin-bottom: 24px;
}
.small-text{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}
.bold-text{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}
.gamer-img{
    background-image: url("./images/Group\ 14.png");
    width: 100%;
    background-repeat: no-repeat;
}

/* Videos section */
.videos-container{
    text-align: center;
    margin: 0  auto;
}
.videos-content{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.videos{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border: 1px solid #FF42A5;
    border-radius: 5px;
    transition: .3s ease;
    /*background-color: red;*/
    background: rgba(0, 0, 0, 0.5);
  }
  .videos:hover .overlay {
    opacity: 1;
  }
  .play-text{
    font-size: 1rem;
    color: #FF42A5;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .fa-circle-play:hover .play-text{
    color: #eee;
  }


/* PlayNow Section design */
.play-now-container{
    margin: 120px 0 120px 180px;
    gap: 200px;
}
.play-now-text{
    margin-bottom: 0;
}
.play-now-text2{
    margin-top: 0;
    margin-bottom: 0;
}
.play-now-text3{
    margin-top: 0;
}
.play-now-img{
    position: relative;
}
.play-now-img2{
    position: absolute;
    bottom: -75px;
    left: -145px;
}

/* Category Section design */

.category{
    min-height: 200px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-category{
    flex-basis: 250px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.single-category:hover{
    border: 1px solid #FF42A5;
    border-radius: 100px;
    color: #FF42A5;
}

/* Footer style */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    padding: 100px 240px;
    background: #0B0223;
}

.footer-logo{
    display: flex;
    gap: 20px;
 }
 .footer-logo img{
    width: 100%;
    object-fit: contain;
 }
 .footer-logo-text{
    color: white;
    font-size: 2.7rem;
    font-weight: 700;
 }
 .footer-menu{
    display: flex;
    gap: 60px;
    align-items: center;
 }
 footer li{
    color: white;
    list-style: none;
 }
 .footer-text{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
 }
 .social-icon{
    margin-top: 20px;
 }
 .fa-brands{
    color: white;
    font-size: 40px;
 }
 .fa-twitter, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-instagram, .fa-apple {
    margin-right: 40px
 }
 





/* Responsive Style */

/* Mobile responsive */

@media screen and (max-width: 576px) {
    nav, .menu{
        padding: 20px;
        flex-direction: column;
    }
    main{
        padding: 0 20px;
    }
    .play-container,.gamer-container, .play-now-container{
        padding: 10x;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .play-content{
        background-image: url("./images/Group\ 14.png");
    width: 100%;
    background-repeat: no-repeat;
    }
    .gamer-img{
        background-image: none;
    }
    .videos-content{
        flex-direction: column;
    }

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        background: #0B0223;
    }
}